/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Container styles */
.services-container {
    width: 1200px;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    /* text-align: center; */
}

/* Heading styles */
.heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Cards container styles */
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

/* Individual card styles */
.card {
    background: #ffffff;
    border: none;
    border-radius: 10px;
  
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
    position: relative;
    overflow: hidden;
}

/* Card hover effect */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Card heading styles */
.card h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

/* Card paragraph styles */
.card p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}


